@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

body{
	background-color: #fac7eb;
}

.banner 
   img {
	width: 1330px; 
	height: 450px;
   }
  
.principal{
	background: #fac7eb;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
	font-family: 'Redressed', cursive;
	font-size: 50px;
	background-color: #fac7eb;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #860646;
}

.itens {
	font-style: italic
}

.beneficios {
    ;
}

ul {
	display: flexbox;
	vertical-align: top;
	text-align: left
}

.imagembeneficios {
	text-align: left;
}